
.collection {
  width: 10vw;
  height: 10vh;
  text-align: center;
  backface-visibility: visible;
}

.collection div {
  padding-top: 40%;
}

.collection.left {
  transform: perspective(150px) rotateX(30deg) rotateY(30deg);
  animation: to_rigt 2s linear infinite;
}

.collection.center {
  transform: perspective(150px) rotateX(15deg) translateY(60px) translateZ(30px);
  animation: to_left 2s linear infinite;
}

.collection.right {
  transform: perspective(150px) rotateX(30deg) rotateY(-30deg);
  animation: to_center 2s linear infinite;
}

@keyframes to_center {
  from {
    transform: perspective(150px) rotateX(30deg) rotateY(-30deg);
  }

  to {
    transform: perspective(150px) rotateX(15deg) translateY(60px) translateZ(30px);
  }
}

@keyframes to_rigt {
  0% {
    transform: perspective(150px) rotateX(30deg) rotateY(30deg) translateX(-30px);
  }

  50% {
    transform: perspective(150px) rotateX(15deg) translateY(-60px);
  }

  100% {
    transform: perspective(150px) rotateX(30deg) rotateY(-30deg);
  }
}

@keyframes to_left {
  from {
    transform: perspective(150px) rotateX(15deg) translateY(60px) translateZ(30px);
  }

  to {
    transform: perspective(150px) rotateX(30deg) rotateY(30deg) translateX(-30px);
  }
}
