@import "~/assets/scss/collection.scss";
@import "~/assets/scss/animations.scss";


.row {
  justify-content: center;
  align-items: center;
}

.logo {
  animation: up 2s linear;
  animation-iteration-count: infinite;
}

.m_circle {
  width: 25px;
  height: 25px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  animation: wave 1s 5 linear;
  position: absolute;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: wave 3s 5 linear;
  }
}

.collection_card {
  text-align: center;
  height: 10vh;
  animation: appear 2s 1 linear;
  .text {
    font-weight: 700;
    padding-top: 15%;
  }
}